/* selects the body element */
title{
    background-color: aqua;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    color: black;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: medium;
    font-weight: normal;
}

section{
    margin: 0;
    font-size: small;
    font-weight: normal;
}

.content-block {
    background-color: aqua;
    font-size: small;
    font-weight: normal;
    padding-left: 20px;
    margin: 0 0 80px;
}

.image-resizing{
    width: 100px;
    height: 100px;
}

